.slogs-content .slogs-content-header {
    display: flex;
    font-weight: 500;
    color: #101828;
    background: #f7f8f7;
    border: 1px solid #d0d5dd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.container-item {
    min-height: 48px;
    display: flex;
    align-items: center;
    width: 31%;
    padding: 10px 10px 10px 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-list {
    border-top:0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.custom-list-item {
    padding-inline: 0px !important;
    justify-content: flex-start !important;
}

.bg-gray {
    background: #f7f8f7;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.2rem;
}

.description-profile .title {
    font-size: 16px;
    font-weight: 500;
    color: #474747;
    line-height: 24px;
}

.description-profile label {
    margin-bottom: 4px;
    font-weight: 500;
    line-height: 22px;
    display: block;
}

.img-circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

/* css foder */

.foder-box {
    width: 100%;
    min-height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://content.pancake.vn/web-media/a1/59/52/57/3cf8b83f0cc2b9006f33165d6a36656da9c4eb857c44dffc566fb3df.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-foder {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 6px;
}

.poiter {
    cursor: pointer;
}

.img-box img{
    width: 100%;
    object-fit: cover;
}